body {
    background-color: #000;
    height: 300vh;
}

.container {
    margin: 0 auto;
    max-width: 1265px;
    background-color: #000;
    display: grid;
    grid-template-columns: 251px auto 360px;
}


.aside-left {
    display: flex;
    flex-direction: column;

    .left-top {
        padding: 13px;
 
    }

    .c-p {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        width: 251px;
        height: 100vh;
        padding: 0 12px 0 12px;

        .shared-post {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--colorWhite);

            .inner {
                display: flex;
              
            }
    
            .sharing-time {
                color: var(--colorGray);
            }
    
            .shared-post-top {
                display: flex;
                align-items: center;
            }
            .page-img-size {
                width: 40px;
                height: 40px;
                margin-right: 12px;
                font-size: 15px;
                font-weight: 700;
    
                img {
                    border-radius: 50%;
                }
            }
        }
    }

    .navbar {
        display: flex;
        flex-direction: column;
        color: var(--colorWhite);

        .navbar-link {
            display: flex;
            align-items: center;
            position: relative;
            padding: 13px;
            font-weight: 700;
            font-size: 19px;

            .pos {
                position: absolute;
                left: 22px;
                top: 0;
            }
        }


    }

    .btn {
        padding: 16px 86px;
        background-color: var(--colorButton);
        border-radius: 52px;
        margin-top: 16px;
        color: var(--colorWhite);

    }
}

.home-side {
    border-left: 1px solid var(--colorBorder);
    border-right: 1px solid var(--colorBorder);

    .title-home {
        color: var(--colorWhite);
        display: flex;
        justify-content: space-between;
        padding: 16px;
        border-bottom: 1px solid var(--colorBorder);

        h2 {
            font-size: 20px;
            font-weight: 700;
        }
    }

    .tweet-sharing {

        .tweet-sharing-top {
            display: flex;


            .personal-profile-img {
                width: 48px;
                height: 48px;
                margin-left: 16px;
                margin-top: 5px;

                img {
                    border-radius: 999px;
                }

            }

            .textarea-details {
                width: 550px;
                color: var(--colorWhite);
                margin-left: 12px;
                margin-top: 10px;
                font-family: var(--fontPoppins);
                font-weight: 400;
                font-size: 20px;
                outline: none;
                resize: none;
                   
            }
        }

        .tweet-sharing-bottom {

            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid var(--colorBorder);

            .collection-icons {
                margin-top: 29px;
                margin-left: 67px;
                display: flex;
                align-items: center;

                i {
                    margin-right: 7px;
                }
            }

            .btn {
                padding: 9px 16px;
                background-color: var(--colorButton);
                border-radius: 52px;
                margin-top: 16px;
                color: var(--colorWhite);
                opacity: 0.5;
                margin-right: 16px;
                margin-bottom: 3px;
            }

        }
    }

    .shared-post {
        display: flex;
        padding: 12px 16px 21px 12px;
        border-bottom: 1px solid var(--colorBorder);

        .page-img-size {
            width: 48px;
            height: 48px;
            margin-right: 12px;

            img {
                border-radius: 50%;
            }
        }

        .shared-post-top {
            display: flex;
            align-items: center;

            .page-name {
                color: var(--colorWhite);
                margin-right: 3.25px;
            }

            .sharing-time {
                color: var(--colorGray);
                margin-left: 5.30px;
            }
        }

        .post-body>p {
            color: var(--colorWhite);
            font-size: 15px;
            font-weight: 400;
        }

        .shared-post-body {

            .post-body {
                width: 506px;
                margin-top: 5px;
                font-weight: 400;
                font-size: 15px;

                &>p {
                    color: var(--colorText);
                }
            }

            .posted-img {
                width: 506px;
                height: 284px;
                margin-top: 12px;

                img {
                    border-radius: 36px;
                    object-fit: cover;
                }
            }

            .post-reaction {

                display: flex;
                justify-content: space-between;
                margin-top: 20.86px;



                .reaction {
                    display: flex;
                    align-items: center;

                    color: var(--colorGray);

                    font-size: 13px;
                    font-weight: 300;


                    &>i {
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}

.aside-right {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 6px 10px 0px 30px;
    overflow-y: auto;

    .security-links {
        display: flex;
        flex-wrap: wrap;
        margin-top: 16px;
        color: var(--colorGray);
        font-size: 13px;
        font-weight: 300;

        & > a {
            margin-right: 12px;
        }
    }

    .c-p {
        position: fixed;
        width: 360px;
        height: 100vh;
        padding: 4px 12px 0 12px;
    }

    .search-input {
         background-color: var(--colorShark);
         border-radius: 42px;
         
        input {
            width: 100%;
            padding: 12px 12px 12px 50px;
            border-radius: 16px;
            background-image: url(../img/icon-search.svg);
            background-position: 15px 15px;
            background-repeat: no-repeat;
            background-position-y: left;
            color: var(--colorWhite);
            outline: none;
               
        }
    }


    .hashtags-container {
        margin-top: 12px;
        background-color: var(--colorShark);
        padding: 12px 30px 16px 16px;
        border-radius: 15px;


        .hashtags-title {
            display: flex;
            justify-content: space-between;
            color: var(--colorWhite);
            font-weight: 700;
            font-size: 19px;
            margin-bottom: 15px;
        }

        .hashtags-body {
            display: flex;
            justify-content: space-between;
            padding-top: 8px;
            padding-bottom: 12px;
        }

        .hashtag-details {
            display: flex;
            flex-direction: column;
          

            .trending {
                font-size: 13px;
                font-weight: 400;
                color: var(--colorGray);
            }

            .hashtag {
                color: var(--colorWhite);
                font-size: 15px;
                font-weight: 700;
            }

            .tweets-total {
                font-size: 13px;
                font-weight: 400;
                color: var(--colorGray);
            }
        }

        .show-more{
            color: var(--colorButton);
            font-size: 15px;
            font-weight: 700;
        }

        .shared-post {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--colorWhite);
            margin-bottom: 24px;

            .shared-post-top {
                font-size: 15px;
                font-weight: 300;
            }

            .follow-pages-left {
                display: flex;
            }
    

            .btn-flw {
                padding: 7px 15px;
                background-color: var(--colorButtonFlw);
                border-radius: 32px;
                color: var(--colorFlw);
            }
            
            .page-name {
                margin-right: 5px;
                font-size: 15px;
                font-weight: 400;
              
            }

            .page-tag {
                color: var(--colorGray);
                font-size: 15px;
                font-weight: 300;
                margin-top: -6px;
            }
    
     
            .page-img-size {
                width: 40px;
                height: 40px;
                margin-right: 12px;
                font-size: 15px;
                font-weight: 700;
    
                img {
                    border-radius: 50%;
                }
            }
        }
    }
 
}





/* 
@media only screen and (max-width:992px){
   header .navbar{

        display: none !important;
    }
.layout-header{
    justify-content: space-between;
}
    .auth-box{
        display: none !important;
    }
    .bar{
        display: block;
    }
} */